<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>    
    <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page animated fadeIn">
        <h1>Register with Us</h1>
        <form name="regForm" ng-submit="regForm.$valid && ctrl.registerUser()" novalidate>
            <div class="form-group">
                <label for="email">your email address</label>&nbsp;<span class="good glyphicon glyphicon-ok animated fadeIn" data-ng-show="regForm.email.$valid"></span>
                
                    <input  id="email"
                            name="email"
                            type="email"
                            placeholder="someone@somewhere.com"
                            class="form-control"
                            ng-model="ctrl.user.email"
                            ng-disabled="ctrl.welcomeNote"
                            required />
                    <div class="validation animated shake" data-ng-show="regForm.email.$touched || registrationForm.$submitted">
                        <div data-ng-show="regForm.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> your email is required.
                        </div>
                        <div data-ng-show="regForm.email.$error.email">
                            <span class="glyphicon glyphicon-alert"></span> oops! your email is invalid. please try again.
                        </div>
                    </div>
            </div>

            <div class="form-group">
                <label for="password">create a password</label>&nbsp;<span class="good glyphicon glyphicon-ok animated fadeIn" data-ng-show="regForm.password.$valid"></span>
                    <input  id="password" 
                            name="password" 
                            type="password" 
                            class="form-control" 
                            ng-model="ctrl.user.password" 
                            ng-disabled="ctrl.welcomeNote"
                            minlength="8" 
                            ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" 
                            required />
                    <div class="validation animated shake" data-ng-show="regForm.password.$touched || regForm.$submitted">
                        <div data-ng-show="regForm.password.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> your password is required.
                        </div>
                        <div data-ng-show="regForm.password.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> your password must be at least 8 characters long.
                        </div>
                        <div data-ng-show="regForm.password.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> oops! your password must contain uppercase and lowercase letters, numbers and special characters.
                        </div>
                    </div>

                </div>
            
                <div class="form-group">
                    <label for="confirmPassword">confirm your password</label>&nbsp;<span class="good glyphicon glyphicon-ok animated fadeIn" data-ng-hide="regForm.confirmPassword.$untouched ||ctrl.user.password != ctrl.user.confirmPassword"></span>
                        <input  id="confirmPassword" 
                                name="confirmPassword" 
                                type="password" 
                                class="form-control" 
                                ng-model="ctrl.user.confirmPassword"
                                ng-disabled="ctrl.welcomeNote"
                                required 
                                ng-required="ctrl.user.password"/>
                    <div class="validation animated shake" data-ng-show="regForm.confirmPassword.$touched || regForm.$submitted">
                        <div data-ng-show="regForm.confirmPassword.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> your password is required.
                        </div>
                        <div data-ng-show="ctrl.user.password != ctrl.user.confirmPassword">
                            <span class="glyphicon glyphicon-alert"></span> oops! passwords do not match.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">your name</label>
                        <input  id="name" 
                                name="name" 
                                type="text" 
                                ng-model="ctrl.user.name"
                                ng-disabled="ctrl.welcomeNote"
                                class="form-control" 
                                required/>
                </div>

                <div class="form-group">
                    <label for="gender">you are:</label>
                    <br/>
                    <input  id="gender"    
                            name="gender" 
                            type="radio" 
                            value="M" 
                            ng-model="ctrl.user.gender" 
                            ng-disabled="ctrl.welcomeNote"
                            required /> male
                    <br/>
                    <input  id="gender" 
                            name="gender" 
                            type="radio" 
                            value="F"  
                            ng-model="ctrl.user.gender" 
                            ng-disabled="ctrl.welcomeNote"                            
                            required /> female
                    <br/>
                    <div class="validation animated shake" data-ng-show="regForm.dateOfBirth.$touched && regForm.gender.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> your gender is required.
                    </div>
            </div>

            <div class="form-group">
                <label for="dateOfBirth">date of birth</label>&nbsp;<span class="good glyphicon glyphicon-ok animated fadeIn" data-ng-show="ctrl.ageValid(ctrl.user.dateOfBirth) == true"></span>
                <input  id="dateOfBirth" 
                        name="dateOfBirth" 
                        type="date" 
                        class="form-control" 
                        ng-model="ctrl.user.dateOfBirth" 
                        ng-disabled="ctrl.welcomeNote"                        
                        required
                        novalidate />
                <div class="validation" 
                    data-ng-show="regForm.dateOfBirth.$touched">
                    <div data-ng-show="regForm.dateOfBirth.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> your date of birth is required.
                    </div>
                    <div data-ng-show="ctrl.ageValid(ctrl.user.dateOfBirth) == false">
                        <span class="glyphicon glyphicon-alert"></span> you must be at least 18 years old to register.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="address">address</label>
                <input  id="address" 
                        name="address" 
                        type="text" 
                        class="form-control" 
                        ng-model="ctrl.user.address" 
                        ng-disabled="ctrl.welcomeNote"                        
                        required/>
                <div class="validation animated shake" data-ng-show="regForm.country.$touched && regForm.address.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> your address is required.
                </div>
            </div>    

            <div class="form-group">
                <label for="country">country of origin</label>
                <select class="form-control" 
                        id="country"
                        name="country" 
                        type="text" 
                        ng-model="ctrl.user.country" 
                        ng-disabled="ctrl.welcomeNote"
                        required/>
                    <option value="">-- Select a Country --</option>
                    <option ng-repeat="country in ctrl.countries" value="{{country.name}}">{{country.name}}</option>
                </select>
                <div class="validation animated shake" data-ng-show="regForm.contactNumber.$touched && regForm.country.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> your country of origin is required.
                    </div>
                </div>

            <div class="form-group">
                <label for="contactNumber">your contact number</label>
                <input  id="contactNumber" 
                        name="contactNumber" 
                        type="number" 
                        ng-model="ctrl.user.contactNumber"
                        ng-minlength=8
                        ng-maxlength=8
                        ng-pattern="/^[0-9]/" 
                        class="form-control" 
                        ng-disabled="ctrl.welcomeNote"
                        required />
                <div class="validation" data-ng-show="regForm.contactNumber.$touched">
                    <div data-ng-show="regForm.contactNumber.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Contact number is mandatory.
                    </div>
                    <div data-ng-show="regForm.contactNumber.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> please enter a local contact number.
                    </div>
                    <div data-ng-show="regForm.contactNumber.$error.maxlength">
                        <span class="glyphicon glyphicon-alert"></span> please enter a local contact number.
                    </div>
                    <div data-ng-show="regForm.contactNumber.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> oops! please enter numbers only.
                    </div>
                </div>
            </div>

            <div class="form-group centered">
                <button type="submit"
                        id="submit" 
                        name="submit" 
                        ng-disabled="regForm.$invalid || ctrl.welcomeNote"
                        class="my-btn">Submit</button>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h3>Hello, {{ ctrl.displayUser.name }}!</h3>
                        </div>
                        <div class="modal-body">
                            <span class="glyphicon glyphicon-thumbs-up"></span>                      
                            <p>We're glad you signed up. </p>
                            <p>Let's keep in touch!</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div ng-show="ctrl.welcomeNote">
                    <h3>Welcome to the club!</h3>
                    <p>you're the best!!!</p>
            </div> -->
        </form>
    </div>



    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/app.js"></script>
    <script>
        var modal = document.getElementById('myModal');
        var btn = document.getElementById("submit");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>


</html>