body{
    background-color: lightyellow;
}

.registration-page h1 {
    color: darkslateblue;
    text-align: center;
    border-top: 2px solid darkcyan;
    border-bottom: 2px solid darkmagenta;
    padding: 20px 0;
}

.validation{
    color: firebrick;
}

.good{
    color:darkcyan;
}

.centered{
    text-align: center;
}

.my-btn{
    color:white;
    background-color:rgb(72, 61, 139);
    border-radius: 15px;
}

.my-btn:hover{
    color:rgb(72, 61, 139);
    background-color: white;
    border: 2px solid darkslateblue;
    transition-duration: 500ms;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(3, 127, 98);
    background-color: rgba(3, 127, 98, 0.51); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: darkmagenta;
    color: white;
}

.modal-body {padding: 16px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
